* {
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
    
  }
  
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  html {
    font-family: "Lucida Sans", sans-serif;
    scroll-behavior: smooth;
  }
  .section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    
}
.section_amarelo{
  background-image: url('../static/4813762.jpg');
    background-repeat: no-repeat;    
}

/* -----------------------------------------------------section presentes */
.section_presente {
  background-image: url('../static/19995032.jpg');
  height: 100vh;
  width: 100%;
    width: 100%;
    background-size: cover;
}
#presentes{
 
  height: auto;
  margin-top: 6rem;
  
}
.img_galery{  
  max-height: 100px;
  width: auto;
  
}










/* ---------------------------------------------------------------------------- */






.section_vermelho {
  background-image: url('../static/18731138.jpg');
  height: 100vh;
  width: 100%;
    width: 100%;
    background-size: cover;
}
.background-section{
    background-image: url('../static/textura.jpg');
    
}
.background-section img {
  border: 4px solid #d930304d;
}
  
  .header {
    background-color: #D9A404;
    color: #ffffff;
    padding: 10px;
    
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  #text-nav{
      margin-left: 4rem;
      display: flex;
      justify-content: space-around;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #0099cc;
  }
  /*--------------------------------------------------------------------cadastro */
  .aside {
    height: 24rem;
    background-color: white;
    padding: 15px;
    color: #D93030;    
    display: flex;
    justify-content: space-around;
    flex-direction: column;    
    font-size: 12px;
    font-weight: bold;
    box-shadow:  3px 3px 3px #bf307359;  
    border-radius: 5px;
    max-width: 400px;
  }
  .input_cadastro{
    margin: 10px 0;
  }
  .input_cadastro input{
    margin-left: 5px;
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
  }
  .input_cadastro label{
    font-size: 1rem;
    margin: 1rem;
    
  }
  #submit{
    background-color: #F27405;    
    color: white;
    padding: .5rem 4rem ;    
    font-size: 1rem;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    border: none;
    box-shadow: 3px 3px 3px gray;    
    margin-top: 2.5rem;
  }
  #submit:hover{
    background-color: #D93030; 
  }

  .center{
    display: flex;
    justify-content: center;
  }



  /*--------------------------------------------------------------------cadastro */
  .footer {
    background-color: #0D0D0D;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }
  
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  }

  .left{
      display: flex;
      justify-content: center;
  }
  #div-slides{    
    margin-top: 4rem;
    background-color: white;
    width: 12rem;
    height: 15rem;
    border-radius: 5px;   
    border: 1px solid gray;
    box-shadow: 2px 2px 2px #D9A404;
    
}
  .img-slide img{
    width: 10rem;   
    display: flex;
    justify-content: center;
}
.card-header{
    padding: .5rem;    
    background-color:white;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;   
    color: #D93030; 
}
.card-footer{
   padding: .5rem;
  width: 100%;
  background-color: red;
  color: white;
  font-weight: bolder;
  text-align: center;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .img-promo{      
    max-height: 100px;
   
    
}

#erro{
  background-color: #e7c1c1;
  padding: .5rem 4rem ;
  color: #5f1313;
  font-size: .5rem;
}
#success{
  background-color: #b2ecbc;
  padding: .5rem 4rem ;
  color: #0a4729;
  font-size: .5rem;
}

#loading img{
  width: 40px;
  
  height: auto;
}